RewriteEngine on

# Prevent access to hidden files (starting with a dot)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Block direct access to robots.txt file
<FilesMatch "^robots.txt$">
    Require all denied
</FilesMatch>

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Block directory listing
Options -Indexes

# Custom 404 Error Page
ErrorDocument 403 /403.html

# Custom 404 Error Page
ErrorDocument 404 /404.html

# Custom 500 Error Page
ErrorDocument 500 /500.html
