RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Block directory listing
Options -Indexes

# Custom 404 Error Page
ErrorDocument 403 /403.html

# Custom 404 Error Page
ErrorDocument 404 /404.html
